@import '../responsive';





.app{
  background-color: var(--body-bg);
  color: var(--base-text-color);
}


.wrapper{
   height: 100vh;
   overflow: hidden;
   order: 3;
   flex: 1 1;
   width: calc(100% - 270px);
   margin-left: 270px;
  &.collapase-in{
   width: calc(100% - 0px);
   margin-left: 0px;
  }
}
.avatar{
   position: relative;
   .avatar-status-online{
      width: 11px;
      height: 11px;
      position: absolute;
      bottom: 0;
      background-color: #28c76f;
      border-radius: 50%;
      border: 1px solid var(--sidebar-border-color);
      right: 0px;
   }
}
.main-content{
   padding: 25px 10px;
}
@include devices(laptop) {
   .wrapper{
      width: calc(100% - 0px);
      margin-left: 0px;
      &.collapase-in{
         width: calc(100% - 0px);
         margin-left: 0px;
      }
   }
}
