
// .app{
//    display: flex;
//    flex-direction: row;
// }

.wrapper{
   height: 100vh;
   order: 3;
   flex: 1 1;
   max-width: calc(100% - 270px);
   margin-left: 270px;
   // padding: 0px 25px;
}
.avatar{
   position: relative;
   .avatar-status-online{
      width: 11px;
      height: 11px;
      position: absolute;
      bottom: 0;
      background-color: #28c76f;
      border-radius: 50%;
      border: 1px solid var(--sidebar-border-color);
      right: 0px;
   }
}

