@import '../component/breadcrumb';
@import '../responsive';

.app{
  background-color: var(--body-bg);
  color: var(--base-text-color);
}


.wrapper{
   order: 3;
   flex: 1 1;
   width: calc(100% - 270px);
   margin-left: 270px;
  &.collapase-in{
   width: calc(100% - 0px);
   margin-left: 0px;
  }
  position: relative;
}
.avatar{
   position: relative;
   .avatar-status-online{
      width: 11px;
      height: 11px;
      position: absolute;
      bottom: 0;
      background-color: #28c76f;
      border-radius: 50%;
      border: 1px solid var(--sidebar-border-color);
      right: 0px;
   }
}
.main-content{
   padding: 20px 10px 0px 10px;
}

.content-header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 15px;
   flex-direction: row;
   .page-title{
      font-size: 18px;
      font-weight: 600;
      color: var(--base-heading-font-color);
      h3{
         font-size: 18px;
         font-weight: 600;
         color: var(--base-heading-font-color);
      }
   }
}
@include devices(smartmobile) {
   .content-header{
      display: block;
      padding-bottom : 15px;
      .page-title{
         margin-bottom: 0.5rem;
      }
   }
}

@include devices(laptop) {
   .wrapper{
      width: calc(100% - 0px);
      margin-left: 0px;
      &.collapase-in{
         width: calc(100% - 0px);
         margin-left: 0px;
      }
   }
}
