@import '../component/dropdown';
@import '../component/btn';
@import '../component/list';
@import '../component/badge';

.navigation-full{
   border-bottom: 1px solid var(--base-border);
   background-color: var(--navbar-bg);
}
.toolbar-wrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 10px;
   height: 70px;
}
.mobile-more-icon{
   display: none;
}
.nav-left{
   @include list-inline;
   .menu-icon{
      .collape-btn{
         @include base-icon-btn;
      }
   }
   .dropdown{
      @include drop-menu(10rem, 55px);
      .dropdown-toggle{
         @include base-btn;
         border: none;
      }
   }
}

.nav-right{
   @include list-inline;
   .nav-user{
      .dropdown{
         @include drop-menu(10rem, 55px);
         .dropdown-toggle{
            @include  drop-content-button;
         }
         .dropdown-menu{
            .dropdown-item{
               &:first-child{
                  border-top-left-radius: 0rem;
                  border-top-right-radius: 0rem;
                  
               }
               &:last-child{
                  border-bottom-left-radius: 0rem;
                  border-bottom-right-radius: 0rem;
               }
            }
         }
      }
   }
   .nav-languge{
      .dropdown{
         @include drop-menu(10rem, 47px);
         .dropdown-toggle{
            @include  drop-content-button;
            border: none;
            img {
               width: 20px;
               height: 20px;
               border-radius: 50%;
            }
         }
      }
   }
   .icon-drop{
      @include base-icon-btn;
   }
   .nav-notification{
      .dropdown{
         @include drop-menu(320px, 55px);
         .dropdown-toggle{
            &.icon-drop{
               @include base-icon-btn;
            }
         }
         .dropdown-menu{
            .drop-footer{
               .btn-basic{
                  @include btnPrimary(transparent, var( --base-color), none);
                  padding: 0px;
                  line-height: 0px;
                  height: 0px;
                  .icon{
                     margin-left: 7px;
                  }
               }
            }
         }
      }
   }
   .nav-message{
      .dropdown{
         @include drop-menu(10rem, 55px);
         .dropdown-toggle{
            &.icon-drop{
               @include base-icon-btn;
            }
         }
      }
   }
   .nav-search{
      .form-group{
         display: flex;
         .search-input{
            height: 40px;
            border: 1px solid var(--base-border);
            border-radius: 0px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            color: var(--base-font-color);
            border-right: 0px;
            &:focus{
               box-shadow: none;
               border: 1px solid var(--base-border);
               border-right: 0px;
            }
         }
         .search-button{
            border: 1px solid var(--base-bg-btn);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: var(--base-bg-btn);
            width: 46px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            .icon{
               color: var(--base-color);
               margin-right: 0px;
            }
         }
      }
   }
}
