@import '../component/dropdown';
@import '../component/btn';
@import '../component/list';
.navigation-full{
   border-bottom: 1px solid var(--base-border);
   background-color: var(--navbar-bg);
}
.toolbar-wrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 10px;
   height: 70px;
   ul{
      margin: 0px;
      list-style: none;
      padding: 0px;
      display: flex;
      align-items: center;
      li{
         margin-left: 15px;
         &:first-child{
            margin-left: 0px;
         }
      }
   }
}
.mobile-more-icon{
   display: none;
}
.nav-left{
   .menu-icon{
      .collape-btn{
         background-color: var(--bg-color);
         border: none;
         width: 40px;
         height: 40px;
         text-align: center;
         line-height: 40px;
         margin-left: auto;
         border-radius: 10px;
         color: var(--base-icon-color);
      }
   }
   .dropdown{
      @include drop-menu;
      .dropdown-toggle{
         @include base-btn;
         border: none;
      }
   }
}

.nav-right{
   @include list-inline;
   .nav-user{
      .dropdown{
         @include drop-menu;
         .dropdown-toggle{
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            padding: 0px;
            color: var(--base-heading-font-color);
            &:focus{
               box-shadow: none;
               border: none;
            }
            .image-box, .infos{
               margin-right: 10px;
               text-align: left;
               line-height: 1.2;
            }
            img {
               width: 40px;
               height: 40px;
               border-radius: 8px;
            }
            strong {
               text-transform: capitalize;
               font-size: 14px;
               margin-bottom: 0px;
               font-weight: 600;
               color: var(--base-heading-font-color);
               display: block;
               font-family: $poppins_font_family;
            }
            span {
               text-transform: capitalize;
               font-size: 12px;
               color: var(--base-font-color);
               font-weight: 500;
            }
            .z-icon{
               margin-right: -4px;
               width: 15px;
               height: 15px
            }
         }
         .dropdown-menu{
            .dropdown-item{
               &:first-child{
                  border-top-left-radius: 0rem;
                  border-top-right-radius: 0rem;
                  
               }
               &:last-child{
                  border-bottom-left-radius: 0rem;
                  border-bottom-right-radius: 0rem;
               }
            }
         }
      }
   }
}