@mixin drop-menu{
   .dropdown-toggle{
      &::after{
         display: none;
      }
      .z-icon{
         margin-right: -6px;
      }
   }
   .dropdown-menu{
      box-shadow: 0 2px 30px rgb(0 0 0 / 8%);
      display: block;
      visibility: hidden;
      opacity: 0;
      &.show{
         display: block;
         visibility: visible;
         opacity: 1;
      }
      .dropdown-divider{
         border-top: 1px solid var(--base-border);
      }
   }
}
