@import './btn';

.dropdown{
   .dropdown-toggle{
      &::after{
         display: none;
      }
   }
}
@mixin drop-menu($minWidth, $mTop ){
   .dropdown-toggle{
      .z-icon{
         margin-right: -6px;
         width: 15px;
         height: 15px
      }
   }
   .dropdown-menu{
      box-shadow: 0 2px 30px rgb(0 0 0 / 8%);
      border: none;    
      padding: 0px;
      border-radius: 10px;
      animation-name: DropDownSlide;
      animation-duration: .3s;
      animation-fill-mode: both;
      min-width: $minWidth;
      background-color: var(--dropdown-bg);
      &.show{
         display: block;
         margin-top: $mTop;
      }
      .dropdown-divider{
         border-top: 1px solid var(--dropdown-border);
      }
      .dropdown-item{
         font-size: 14px;
         font-family: $poppins_font_family;
         color: var(--base-font-color);
         text-transform: capitalize;
         padding: 8px 15px;
         &:first-child{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
         }
         &:last-child{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
         }
         &:hover{
            background-color: var(--base-drop-list-hover);
            color : var( --base-drop-list-hover-color);
         }
         &:focus{
            box-shadow: none;
            background-color: var(--base-drop-list-hover);
            color : var(--base-drop-list-hover-color);
         }
         .icon{
            .z-icon{
               margin-right: 0px;
               width: 16px;
               height: 16px;
            }
            &.img-icon{
               img{
                  width: 20px;
               }
            }
         }
      }
      .drop-heading{
         padding: 10px 15px;
         border-bottom: 1px solid var(--base-border);
         font-family: $poppins_font_family;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         display: flex;
         align-items: center;
         justify-content: space-between;         
         h4{
            font-size: 16px;
            color: var(--base-heading-font-color);
         }
      }
      .drop-footer{
         border-top: 1px solid var(--dropdown-border);
         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;
         padding: 10px 15px;
         text-align: center;
         .dropdown-item{
            border-radius: 10px !important;
            padding: 0px 15px;
            line-height: 40px;
            text-align: center;
            display: inline-block;
            width: max-content;
            @include light-base-btn;
            .icon{
               .z-icon{
                  margin-top: 0px;
                  margin-right: -3px;
               }
            }
         }
      }
   }
}
@keyframes DropDownSlide {
   100% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
   }
   0% {
      -webkit-transform: translateY(30px);
      transform: translateY(30px);
   }
}

@mixin drop-content-button{
   display: flex;
   align-items: center;
   background-color: transparent;
   border: none;
   padding: 0px;
   color: var(--base-heading-font-color);
   &:focus{
      box-shadow: none;
      border: none;
   }
   .image-box, .infos{
      margin-right: 10px;
      text-align: left;
      line-height: 1.2;
   }
   img {
      width: 40px;
      height: 40px;
      border-radius: 8px;
   }
   strong {
      text-transform: capitalize;
      font-size: 14px;
      margin-bottom: 0px;
      font-weight: 600;
      color: var(--base-heading-font-color);
      display: block;
      font-family: $poppins_font_family;
   }
   span {
      text-transform: capitalize;
      font-size: 12px;
      color: var(--base-font-color);
      font-weight: 500;
   }
   .z-icon{
      margin-right: -4px;
      width: 15px;
      height: 15px
   }
}


