@mixin list-inline {
   margin: 0px;
   list-style: none;
   padding: 0px;
   display: flex;
   align-items: center;
   li{
      margin-left: 15px;
      &:first-child{
         margin-left: 0px;
      }
   }
}